.footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(201, 201, 235);

    &-logo{
        height: 10vh;
        padding-right: 3rem;
        border-right: 1px solid black;
    }

    & > *{
        width: 50%;
    }
}

.FooterLeft{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.3rem;
    font-family: monospace;
    font-weight: 400;
    & *{
        margin:2rem;
    }
}

.FooterRight{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.elements-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    font-size: 2rem;
    font-family: monospace;
    font-weight: 400;
}

.element{
    background-color: wheat;
    margin-right:3rem;
    padding: .3rem 1.5rem;
    border-radius: .3rem;
    transition: all .3s;

    &:hover{
        transform: rotate(10deg) scale(1.1);
        cursor: pointer;

    }
}