.customButton {
    font-size: 1.6rem;
    padding: 1.7rem;
    border-radius: 1rem;
    font-family: 'Arvo', serif;

    border: none;
    text-transform: uppercase;
    box-shadow: 0rem .3rem .5rem black;
    margin: 1.5rem;

    &:active {
        outline: none;
        transform: translateY(-.1rem);
        box-shadow: none;
    }
}